nav {
		margin-left: 55%;
}
td{
	padding-left: 5%;
	padding-right: 5%;
	width: 18%;
	background-color: lavender;
}	

	
.views-exposed-form .views-exposed-widget {
	width:45%;
}
a{
	color:#009688;
}
.views-field-title{
	font-weight: bold;
	color: #F44336;
}

.view-find-a-doctor.view-display-id-page {
	.views-field-title a {
		color: #F44336;
	}
} 

.views-hospital-network.view-display-id-page {
	.views-field-title a {
	  color: orange;
    }
}